.content-table {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 1.2rem;
  min-width: 80%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #404754;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
  text-align: center;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-child {
  border-bottom: 2px solid #404754;
}

input[type="button"] {
  transition: all .3s;
  border: 1px solid #ddd;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 15px;
}
input[type="button"]:not(.active) {
  background-color:transparent;
}

.active {
  background-color: #404754;
  color :#fff;
}

input[type="button"]:hover:not(.active) {
  background-color: #ddd;
}